# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.env
.venv
env/
venv/
ENV/

# VSCode / JetBrains
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
